/ChatbotTelegramAPI/webhook/.idea/
/ChatbotTelegramAPI/webhook/venv/
/ChatbotUI/node_modules/
/ChatbotUI/.idea/
/ChatbotTelegramAPI/.idea/
/ChatbotTelegramAPI/venv/
/ChatbotAPI/venv/
/ChatbotAPI/.idea/
